body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.photographer_section article p:nth-child(2) {
  color: #901C1C;
  font-size: 16px;
  margin: 5px;
}
.photographer_section article p:nth-child(3) {
  font-size: 14px;
  margin: 5px;
}
.photographer_section article p:nth-child(4) {
  color: #757575;
  font-size: 12px;
  margin: 5px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}
#contact_modal .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.photograph-header section {
  background-color: #FAFAFA;
  margin: 0 100px;
  padding: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.photograph-header section h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: #D3573C;
}
.photograph-header section span {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
}
.photograph-header section p {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
}
.photograph-header section img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper_media_section {
  margin: 100px;
}
.wrapper_media_section .media_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}
.wrapper_media_section .media_section article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper_media_section .media_section article img, .wrapper_media_section .media_section article video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.wrapper_media_section .media_section article div {
  margin-top: 10px;
}
.wrapper_media_section .media_section article div .media_title {
  display: block;
  float: left;
  width: 290px;
  color: #901C1C;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper_media_section .media_section article div .media_likes {
  display: block;
  float: right;
  text-align: right;
  color: #901C1C;
  font-size: 24px;
}
.wrapper_media_section .media_section article div .media_likes i {
  margin-left: 10px;
}