body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

form textarea {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  resize: none;
  font-size: 36px;
}

.input_validated {
  border: 3px solid #279e7a;
}

.input_error {
  border: 3px solid #fe142f;
}

#infos-lastname, #infos-firstname, #infos-email, #infos-message {
  display: none;
  font-size: 16px;
  margin: 0px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}
#contact_modal .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  font-size: 36px;
}
#contact_modal .modal header {
  justify-content: space-between;
  width: 100%;
}
#contact_modal .modal header img {
  cursor: pointer;
}
#contact_modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

#lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}
#lightbox_modal .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
}
#lightbox_modal .modal .prev i, #lightbox_modal .modal .next i {
  color: #901C1C;
}
#lightbox_modal .modal .prev {
  margin-left: 120px;
}
#lightbox_modal .modal .next {
  margin-right: 120px;
}
#lightbox_modal .modal .close_modal {
  position: fixed;
  right: 50px;
  top: 50px;
}
#lightbox_modal .modal .modal_content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 1200px;
}
#lightbox_modal .modal .lightbox_slide {
  display: none;
}
#lightbox_modal .modal .lightbox_slide img {
  max-width: 100%;
  max-height: 700px;
  border-radius: 5px;
}
#lightbox_modal .modal .lightbox_slide video {
  max-width: 100%;
  max-height: 700px;
}
#lightbox_modal .modal .lightbox_slide p {
  color: #901C1C;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.photographer_section article a h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.photographer_section article p:nth-child(2) {
  color: #901C1C;
  font-size: 16px;
  margin: 5px;
}
.photographer_section article p:nth-child(3) {
  font-size: 14px;
  margin: 5px;
}
.photographer_section article p:nth-child(4) {
  color: #757575;
  font-size: 12px;
  margin: 5px;
}

.photograph-header section {
  background-color: #FAFAFA;
  margin: 0 100px;
  padding: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.photograph-header section h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: #D3573C;
}
.photograph-header section span {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
}
.photograph-header section p {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
}
.photograph-header section img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.media-sorting-wrapper {
  margin-top: 50px;
  margin-left: 100px;
}
.media-sorting-wrapper label {
  font-weight: 700;
  font-size: 18px;
  padding-right: 40px;
}
.media-sorting-wrapper select {
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  padding: 23px;
  background: #901C1C;
  color: white;
  width: 170px;
}

.wrapper_media_section {
  margin: 50px 100px;
}
.wrapper_media_section .media_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 85px;
}
.wrapper_media_section .media_section article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper_media_section .media_section article img, .wrapper_media_section .media_section article video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.wrapper_media_section .media_section article div {
  margin-top: 10px;
}
.wrapper_media_section .media_section article div .media_title {
  display: block;
  float: left;
  width: 270px;
  color: #901C1C;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper_media_section .media_section article div .media_likes {
  display: block;
  float: right;
  text-align: right;
  color: #901C1C;
  font-size: 24px;
}
.wrapper_media_section .media_section article div .media_likes i {
  margin-left: 10px;
  cursor: pointer;
}
.wrapper_media_section .media_section:after {
  content: "";
  width: 350px;
  margin: 0px;
  padding: 0px;
  height: 0;
}

.photograph_sticky {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 40px;
  width: 380px;
  background-color: #DB8876;
  border-radius: 5px 5px 0px 0px;
}
.photograph_sticky span {
  font-weight: 500;
  font-size: 24px;
  line-height: 70px;
}
.photograph_sticky .photograph_sticky_total_likes {
  padding-left: 30px;
}
.photograph_sticky i {
  padding-left: 5px;
}
.photograph_sticky .photograph_sticky_price {
  position: absolute;
  right: 0px;
  padding-right: 30px;
}