// Couleurs primaire
$color-primary: #D3573C;
$bckgrd-color-primary: #901C1C;
// Couleurs secondaire
$color-secondary: #901C1C;
$color-secondary-bis: #525252;
$bckgrd-color-secondary: #D3573C;

$main-font: "DM Sans", sans-serif;