#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(196, 196, 196, 0.4);

    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.photograph-header section {
    background-color: #FAFAFA;
    margin: 0 100px;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 64px;
        font-weight: 400;
        margin: 0px;
        padding: 0px;
        color: $color-primary;
    }

    span {
        font-weight: 400;
        font-size: 24px;
        color: $color-secondary;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        color: $color-secondary-bis;
    }

    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $bckgrd-color-primary;
    border-radius: 5px;
    cursor: pointer;
}

.media-sorting-wrapper {

    margin-top: 50px;
    margin-left: 100px;

    label {
        font-weight: 700;
        font-size: 18px;
        padding-right: 40px;
    }

    select {
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        padding: 23px;
        background: $bckgrd-color-primary;
        color: white;
        width: 170px;
    }
}

.wrapper_media_section {

    margin: 50px 100px;

    .media_section {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 85px;

        article {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
 
            img, video {
                width: 350px;
                height: 300px;
                object-fit: cover;
                border-radius: 5px;
                cursor: pointer;
            }

            div {

                margin-top: 10px;

                .media_title {
                    display: block;
                    float: left;
                    width: 270px;
                    color: $color-secondary;
                    font-size: 24px;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }

                .media_likes {
                    display: block;
                    float: right;
                    text-align: right;
                    color: $color-secondary;
                    font-size: 24px;

                    i {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }
        }

        // Trick to avoid big gap with last element
        // &:after {
        //     content: "";
        //     flex: auto;
        // }

    }
}