#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(196, 196, 196, 0.4);

    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: #DB8876;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;
        font-size: 36px;

        header {
            justify-content: space-between;
            width: 100%;
    
            a {
                position: relative;
                top: -36px;
                cursor: pointer;
            }
    
            h2 {
                font-weight: 400;
                font-size: 54px;
                text-align: left;
                
                span {
                    display:block;
                }
            }
        }
    }
}

#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);

    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 54px;

        .prev i, .next i {
            color: $color-secondary;
        }
        .prev {
            margin-left: 120px;
        }
        .next {
            margin-right: 120px;
        }

        .close_modal {
            position: fixed;
            right: 50px;
            top: 50px;
        }

        .modal_content {
            position: absolute;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            max-width: 1200px;
        }

        .lightbox_slide {
            display: none;

            img {
                max-width: 100%;
                max-height: 700px;
                border-radius: 5px;
            }

            video {
                max-width: 100%;
                max-height: 700px;
            }

            p {
                color: $color-secondary;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                margin: 0px;
            }
        }
    }
}